body{background-color: #000;font-family: 'Open Sans', sans-serif;}



   /* por el punto al principio del selector, esta es una regla para una clase de nombre container */
     .container{padding:3em; margin:3em; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+31,a1dbff+100 */
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 31%, #a1dbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 31%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 31%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */-webkit-box-shadow: 10px 10px 44px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 44px -16px rgba(0,0,0,0.75);
box-shadow: 10px 10px 44px -16px rgba(0,0,0,0.75);
border: 0px solid #000000;}

   /* acá defino una regla que se aplica a los elementos header, section, footer */
     header, section, footer{padding:5px;}

   /* acá defino una relga que se aplica solo al elemento footer, que se agrega a lo definido en la regla anterior */
     footer{margin-top:2em; border-top:1px solid #ddd; font-size:90%;}

   /* acá defino una regla que se aplica al título de tercer nivel cuando está dentro de section */
       section h3{margin-top:3em;}

   /* acá defino una regla que se aplica a la imagen cuando está dentro de section */
     section img{max-width: 100%;}

   /* acá defino una regla que se aplica a la table cuando está dentro de section */
     section table{border-collapse: collapse; margin-bottom: 1.5em;}

   /* acá defino una regla que se aplica a la thead dentro de la table cuando está dentro de section */
     section table thead{background:#eee;}

   /* ¿y qué pasa en este caso? */
     section table td, section table th{
       border:1px solid #ccc;
       padding:10px;
       margin:0;
       text-align: left;
       font-size:90%;
     }

   /*
     Cuando pedían permiso de niños,
     iban su papá y él decía que NO,
     luego iban con su mamá y ella les decía que SI,
     entonces SI lo hacían.
     De la misma forma se comporta CSS,
     se queda con lo último que le dicen.
     Eso lo aprovecho acá
   */

     section table td:first-child, section table th:first-child{
       text-align: center;
     }

     section table td:last-child, section table th:last-child{
       padding-right:40px;
     }
